<h1>Login</h1>

<form action="/login" method="POST">
  <div>
    <label for="username">Username</label>
    <input id="username" name="username" required>
  </div>
  <button type="submit">Login</button>
</form>
<% if (messages.error) { %>
    <p style="color: red;"><%= messages.error %></p>
<% } %>
<a href="/register">Register</a>